<!doctype html>
<html>
  <head>
    <title>grid</title>
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <div id="timer">60</div>
    <div id="container">
    </div>
    <div id="modal">
      <div class="modal-content">
        <h1></h1>
        <div class="desc">
        </div>
        <button>Mario</button>
      </div>
    </div>
    <script src="assets/scripts/app.js"></script>
    <script>
    console.log("<%- message %>");
    </script>
  </body>
</html>
