<!doctype html>
<html>
  <head>
    <title>grid</title>
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <div id="timer">60</div>
    <div id="container">
    </div>
    <script src="assets/scripts/app.js"></script>
    <script>
    console.log("<%- message %>");
    </script>
  </body>
</html>
