html {
  background : #ccc;
}

body{
  width : 100%;
  height : 100%;
  margin : 0;
  padding : 0;
}

#container{
  #grid {
    position : absolute;
    top : 0;
    left : 0;
    bottom : 0;
    right : 0;
    margin : auto;
    display:block;

    .cell{
      position : relative;
      width : 100px;
      height : 100px;
      margin : 0;
      padding : 0;
      border : 1px solid #ccc;
      background : #fff;
      float : left;
      cursor : pointer;
      &.random{
        opacity : 0.9;
      }
      span{
        margin : auto;
        position: absolute;
        width : 20%;
        height : 20%;
        display : none;
        top : 0; left : 0; bottom : 0; right : 0;
        text-align: center;
      }
    }
  }
}
